/*
==================================
FORMULARIO CF7
==================================
*/
.formulario-cf7 {
    padding-bottom: 35px;
    padding-top: 35px;

    
    .wpcf7-text,
    .wpcf7-textarea {
        font-family: inherit;
        padding: 5px 10px;
        border: 0;
        margin-bottom: 10px;
        background-color: #fff;
        color: inherit;
        width: 100%;
        @include placeholder(black, 1rem);
    }

    .wpcf7-textarea {
        height: 120px;
    }

    .submit {
        text-align: right;

        .wpcf7-submit {
            font-size: 1.1em;
            font-weight: 700;
            float: right;
            margin-left: 10px;
            border: 0;
            padding: 8px 24px;
            cursor: pointer;
            letter-spacing: 2px;
        }
    }

    .wpcf7-response-output {
        margin: 10px 0;
    }
}

div.wpcf7-response-output {
    margin: 0 0 2em;
    padding: 0.2em 0;
    border: 0;
}
